
body {
    margin: 0;
    padding: 0;
    background-color: #faebd7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
}

.links {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.links a {
    filter: brightness(0) saturate(100%) invert(57%) sepia(65%) saturate(284%) hue-rotate(345deg) brightness(97%) contrast(90%);
    margin: 15px;
    display: inline-block;
}


@media (max-width: 600px), (max-height: 600px) {
    body {
        max-height: 85vh;
    }

     .container > img {
        max-width: 80%;
    }

    .links {
        position: static;
        margin-top: 20px;
    }

}
